[submodule "snd/fast_functions"]
	path = snd/fast_functions
	url = git@github.com:todesking/fast_function_composer.scala.git
[submodule "python-env/pyenv"]
	path = python-env/pyenv
	url = git@github.com:pyenv/pyenv.git
